.custom-scrollbar {
  overflow-y: auto !important;
  max-height: 100%;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
.custom-scrollbar::-webkit-scrollbar {
  width: 0 !important;            /* Chrome, Safari, Opera, WebKit */
  height: 0 !important;
  background: transparent !important;
  display: none !important;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #23272e;
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #374151;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
} 